/*    **********  COMMON  *************  */
:root {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover {
  background: #dfdfdf;
}

img:hover {
  filter: brightness(1.2);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #353535;
}

/*    **********  HEADER  *************  */
h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  font-color: #353535;
  font-size: 3.2rem;
  font-weight: 400;
}

.page-header {
  position: fixed;
  top: 4rem;
  left: 5rem;
}

.page-navigation__link {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  font-color: #353535;
}

.page-navigation__items {
  padding-top: 1.5rem;
}

.page-navigation__item {
  padding: 0.3rem;
}

/* ********  MAIN    ********** */
.content-section {
  min-height: 100vh;
}

.page-content {
  margin-left: 20rem;
  padding: 3rem 10%;
}

/*    **********  FOOTER  *************  */
.page-footer {
  position: fixed;
  bottom: 5rem;
  left: 5rem;
}

.footer__copyright {
  color: #292929;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  font-size: 1.1rem;
}

.footer__copyright__link {
  text-decoration: underline;
}

/*********  MAIN PAGE - PROJECTS SECTION   ***********/
.pojects {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.pojects__item {
  margin: 2rem;
}

.pojects__title {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  font-color: #353535;
  text-align: center;
}

.pojects__image {
  width: 23rem;
}

/******* CV *******/
.bio__block {
  margin: 2.5rem;
}

.bio__subtitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  font-color: #353535;
}

.bio__img {
  width: 30vw;
  margin-bottom: 3rem;
}

.bio__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 1.2rem;
  margin-top: 1rem;
}

.bio__img {
  width: 400px;
}

/******* GALLERY *******/
.content-section__description {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.content-section__description__more {
  display: none;
}

.content-section__gallery-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  align-content: center;
  justify-content: center;
  grid-column: 2 / span 3;
  grid-row: 3 / span 1;
}

.content-section__gallery-item {
  width: 100%;
  height: auto;
  place-self: center;
}

.content-section__gallery-item:hover {
  cursor: pointer;
}

.pagination__elem {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  font-size: 3rem;
  width: 3rem;
  height: 5rem;
  margin: 1rem;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 40rem;
  max-width: 100%;
  z-index: 10;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  cursor: pointer;
}

.invisible {
  display: none;
}

.close-btn {
  background-color: white;
  border: none;
  color: gray;
  font-size: 4rem;
  cursor: pointer;
  position: fixed;
  right: 3rem;
  top: 3rem;
  z-index: 10;
}

.modal-overlay {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.modal-pagination-btn {
  background-color: white;
  border: none;
  color: gray;
  font-size: 5rem;
  cursor: pointer;
  position: fixed;
  z-index: 10;
}

.left {
  left: 5rem;
  top: 30rem;
}

.right {
  right: 5rem;
  top: 30rem;
}

.description__more-btn {
  margin: 1rem 1rem 5rem 1rem;
}

.description__more-btn {
  background-color: white;
  border: none;
  color: gray;
  color: black;
  padding: 1rem 3rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.description__more-btn:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

/**********   HAMBURGER    ************/
#hamburger {
  opacity: 0;
}

@media screen and (max-width: 499px) {
  #hamburger {
    opacity: 1;
  }
  .page-navigation {
    display: none;
  }
  .page-navigation-visible {
    display: block;
  }
  .hamburger-menu {
    position: absolute;
    right: -8rem;
    top: 3.5rem;
  }
  .hamburger-menu__item {
    display: block;
    width: 4rem;
    height: 0.4rem;
    background-color: #353535;
    border-radius: 0.5rem;
    transition: 300ms;
  }
  .hamburger-menu__item-1 {
    transform: translateY(-4px);
  }
  .hamburger-menu__item-3 {
    transform: translateY(4px);
  }
  .hamburger-menu__animation {
    display: block;
  }
  .hamburger-menu__animation .hamburger-menu__item-1 {
    transform: translateY(4px) rotateZ(-40deg);
  }
  .hamburger-menu__animation .hamburger-menu__item-3 {
    transform: translateY(-6px) rotateZ(40deg);
  }
  .hamburger-menu__animation .hamburger-menu__item-2 {
    opacity: 0;
  }
}

/******* MOBILE VIEW ********/
@media screen and (max-width: 499px) {
  .page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    margin-left: 0;
    padding: 3rem;
  }
  .page-footer {
    display: none;
  }
  .content-section__pagination {
    display: none;
  }
  .content-section__gallery-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .content-section__description {
    padding-top: 12rem;
  }
  .page-header {
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
  .page-navigation {
    background-color: white;
    padding-bottom: 5rem;
  }
  .all-projects-section {
    padding-top: 13rem;
  }
  .bio {
    margin-top: 30%;
  }
  .bio__img {
    width: 30rem;
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .content-section__pagination {
    display: none;
  }
  .content-section__gallery-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .content-section__description {
    padding-top: 5rem;
  }
}
